name: Run Selenium Tests

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - 'main'
      - 'development'
jobs:
  test:
    runs-on: ubuntu-latest

    services:
      chrome:
        image: seleniarm/standalone-chromium:latest
        ports:
          - 4444:4444
        options: >-
          --shm-size=2g
          --health-cmd "curl  http://localhost:4444/status || exit 1"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Run Selenium Tests
      run: mvn install -DskipTests
      env:
        DISPLAY: ':99'
        JAVA_TOOL_OPTIONS: '-Dfile.enconding=UTF8'

    - name: Run Selenium Tests
      run: mvn clean test -Dtest=testRunner
      env:
        DISPLAY: ':99'
        JAVA_TOOL_OPTIONS: '-Dfile.enconding=UTF8'

    - name: Archive Test Results
      if: always()  
      uses: actions/upload-artifact@v4
      with:
        name: test-reports
        path: |
          target/surefire-reports
          reporting/Cucumber.html
